/*KHAI*/
/*NIC*/
/*SYARIFAH*/ 
/*ALLIE*/

/*RESET DEFAULT STYLE*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, caption, tbody, tfoot, thead,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video, tr {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

a:visited
{
    color:none;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/*MY CODE*/

.main-wrapper {
    margin: 0 auto;
    width: 1000px;
}

a {
    /*to remove underlines of words*/
    text-decoration: none;
}

body {
    /*flower background*/
    background-image: url(https://2.bp.blogspot.com/-a1LuXF7pyXI/Wg1xquxjDXI/AAAAAAAAB_0/ubpJnBTFl681G66GHt5ONw4g87nbyvU3QCLcBGAs/s1600/46bb2a02d21ea8ef34d81ec03c344e5d-horz.jpg)
}

/* white main border */
#example1 {
  width: auto; 
  height: auto;
  padding: 50px;
  margin: auto;
  background: #FFFFFF;
}

header nav {
    width: 100%;
    height: 75px;
    /*green header*/
    background-color: #37493D;
}

/*style ul in the navbar*/
header nav ul {
    /*move HAVANA to the left*/
    float: left;
}

/*style li in the ul*/
header nav ul li {
    float: left;
    /*dont want bullet points inside the navbar*/
    list-style: none;
}

/*style text in the navigation*/
/*the word HAVANA in navbar*/
header nav ul li a {
    font-family: Helvetica;
    font-size: 20px;
    /*white*/
    color: #fff;
    /*centre the navigation*/
    line-height: 63px;
}

/*style the container of login form*/
header .nav-login {
    float: right;
}

/*style the form inside the nav-login*/
header .nav-login form {
    float: left;
    /*want to set height of actual input inside the form to 30px - 16px(height of navigation)*/
    padding-top: 15px;
}

header .nav-login form input {
    float: left;
    width: 140px;
    height: 30px;
    /*0px from top to bottom && 10px from left to right*/
    padding: 0px 10px;
    /*get some space between inputs -> i think this is used instead of <br> in html*/ 
    margin-right: 10px;
    border: none;
    background-color: #fff;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    /*dark grey*/
    color: #111;
    /*30px because need to follow the height above*/
    line-height: 30px;
}

header .nav-login form button {
    float: left;
    width: 60px;
    height: 30px;
    /*get some space between inputs -> i think this is used instead of <br> in html*/ 
    margin-right: 10px;
    border: none;
    /*light grey*/
    background-color: #f3f3f3;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    /*login button dark grey*/
    color: #111;
    /*when u hover the button, shows a pointer to show u can click it*/ 
    cursor: pointer;
}

header .nav-login form button:hover {
    /*light grey*/
    background-color: #ccc;
}
 

header .nav-login a {
    display: block;
    width: 80px;
    height: 50px;
    border: none;
    float: left;
    background-color: #37493D;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    /*white -> sign up button*/
    color: #fff;
    /*centre the navigation*/
    line-height: 63px;
    cursor: pointer;
}

.main-container h2 {
    font-family: "Lato", sans-serif;
    font-size: 40px;
    color: #ccc;
    line-height: 50px;
    text-align: center;
}

/*start style for signup.php*/

.signup-form {
    width: 400px;
    margin: 0 auto;
    padding-top: 30px;
}

.signup-form input {
    /*copied from above form input*/
    /*width is in % because alr specified 400px above in signup-form*/
    /*at first width 100% but cause put padding 5% so bcome 90%*/
    width: 90%;
    height: 40px;
    /*0px from top to bottom && 5% from left && 5% from right*/
    padding: 0px 5%;
    margin-bottom: 4px;
    border: none;
    background-color: #ccc;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    /*dark grey*/
    color: #111;
    /*40px because need to follow the height above*/
    line-height: 40px;
}

.signup-form button {
    /*copied from above signup-form input*/
    display: block;
    margin: 0 auto;
    /*width change to 30 because dont want same as input */
    width: 30%;
    height: 40px;
    border: none;
    /*dark grey:222*/;
    background-color: #222;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    /*dark grey*/
    color: #fff;
    cursor: pointer;
}

.signup-form button:hover {
    background-color: #111;
}

.container {
    width: 960px;
    margin: 0 auto;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 220px;
    padding: 50px;
    height: 350px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

#example1 {
    width: auto; 
    height: auto;
    padding: 50px;
    margin: auto;
    background: #FFFFFF;
}


.container2 {
    position: relative;
    width: 100%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container2:hover .image {
  opacity: 0.3;
}

.container2:hover .middle {
  opacity: 1;
}

.text {
  color: black;
  font-size: 20px;
  padding: 10px 32px;
}

/* Set a style for all buttons */
.button {
    color: white;
    padding: 10px 10px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.button2 {
    background-color: #37493D; 
    color: white;
    padding: 8px 5px;
    border: none;
    cursor: pointer;
    width: 35%;
    height: 20px;
}

.text2 {
  color: white;
  font-size: 15px;

}
  

/*start style for checkout.php*/

.checkout-form {
    width: 400px;
    margin: 0 auto;
    padding-top: 30px;
}

.checkout-form input {
    /*copied from above form input*/
    /*width is in % because alr specified 400px above in signup-form*/
    /*at first width 100% but cause put padding 5% so bcome 90%*/
    width: 90%;
    height: 40px;
    /*0px from top to bottom && 5% from left && 5% from right*/
    padding: 0px 5%;
    margin-bottom: 4px;
    border: none;
    background-color: #ccc;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    /*dark grey*/
    color: #111;
    /*40px because need to follow the height above*/
    line-height: 40px;
}

.checkout-form button {
    /*copied from above signup-form input*/
    display: block;
    margin: 0 auto;
    /*width change to 30 because dont want same as input */
    width: 30%;
    height: 40px;
    border: none;
    /*dark grey:222*/;
    background-color: #222;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    /*dark grey*/
    color: #fff;
    cursor: pointer;
}

.checkout-form button:hover {
    background-color: #111;
}

/*start style for summarry.php*/

.summary-form {
    width: 400px;
    margin: 0 auto;
    padding-top: 30px;
}

.summary-form button {
    /*copied from above signup-form input*/
    display: block;
    margin: 0 auto;
    /*width change to 30 because dont want same as input */
    width: 30%;
    height: 40px;
    border: none;
    /*dark grey:222*/;
    background-color: #222;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    /*dark grey*/
    color: #fff;
    cursor: pointer;
}


.summary-form button:hover {
    background-color: #111;
}

/*error page css */

.main-container table, th, td{

    border: 10px solid black;
}

.successful-button
{
    display: block;
    margin: 0 auto;
    width: 250px;
    height: 22px;
    border: 2px solid black;
    background-color: black;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
    vertical-align: middle;

}

.successful-header
{
    font-family: "Lato", sans-serif;
    font-size: 50px;
    color: #32CD32;
    line-height: 70px;
    text-align: center;
}